:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.loader-overlay {
  position: fixed;
  inset: 0;
 
  /* From https://css.glass */
background: rgba(0, 0, 0, 0.66);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

/* Glass card */
.loader-card {
  padding: 32px 36px;
  border-radius: 16px;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.454);
  border: 1px solid rgba(255, 255, 255, 0.08);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;

  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.4),
    inset 0 0 0 rgba(255, 255, 255, 0.05);
}

/* Premium glowing spinner */
.loader-ring {
  width: 52px;
  height: 52px;

  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-top-color: #4f8cff;

  animation: spin 1s linear infinite;
  box-shadow: 0 0 18px rgba(79, 140, 255, 0.6);
}

/* Text styling */
.loader-text {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: rgb(255, 255, 255);
  
}

/* Animations */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

